---
import BaseLayout from '@layouts/BaseLayout.astro';
import { Button, Image, Link } from '@nextui-org/react';
import * as emoji from 'node-emoji';
---

<BaseLayout title="Oops!">
	<main class="container mx-auto max-w-6xl p-10">
		<div class="flex flex-col gap-8 w-full h-full mt-10">
			<div class="md:text-6xl text-5xl text-center">
				{emoji.emojify(':grimacing:')} Oops!
			</div>
			<div class="text-center md:text-2xl text-xl">
				The page you're looking for doesn't exist. Feeling a bit lost? {
					emoji.emojify(':cloud:')
				}
			</div>
			<div class="flex w-full justify-center">
				<Image
					isBlurred
					src="/images/lost.png"
					classNames={{ img: 'animate-levitate w-72 md:w-96' }}
					alt="Lost Memoji"
					client:load
				/>
			</div>
			<div class="flex w-full justify-center">
				<Button
					className="w-full md:w-auto"
					as={Link}
					href="/"
					color="primary"
					size="lg"
				>
					Take me home
				</Button>
			</div>
		</div>
	</main>
</BaseLayout>
