---
import Navbar from '@components/Navbar.tsx';
import Footer from '@components/Footer.tsx';
import BaseLayout from './BaseLayout.astro';

interface Props {
	title: string;
	subtitle: string;
}

const { title, subtitle } = Astro.props;
---

<BaseLayout title={title} subtitle={subtitle}>
	<Navbar client:load />
	<main class="container mx-auto max-w-6xl p-10">
		<slot />
	</main>
	<Footer client:load />
</BaseLayout>
